@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");

:root {
  --red: #d01c28;
  --grey: #2e2e2e;
}
*{
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

li{
  padding: 6px 16px;
  height: 25px;
}


li:hover{
  background-color: var(--red);
  color: white;
}

button {
  all: unset;
  padding: 6px 16px;
  height: 32px;
  color: white;
  background:var(--red);
  font-weight: 500;
}
