
.hero {
  border: 1px solid grey;
  display: flex;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
  /* height: calc(100vh - 72px); */
}

.hero-content {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hero-content h1 {
  font-weight: 800;
  font-size: 100px;
  line-height: 100px;
}

.plan-text {
  font-weight: 600;
  color: var(--grey);
  max-width: 400px;
}
.hero-btns {
  display: flex;
  gap: 40px;
}
.category {
  background-color: transparent;
  color: var(--grey);
  border: 1px solid grey;
}

.shop p {
  font-size: 14px;
  margin-bottom: 8px;
}

.icons {
  display: flex;
  gap: 16px;
}

.hero-image img {
border: 1px solid black;

  transition: transform 0.3s;
}
.hero-image img:hover {
  transform: scale(1.1);
}
